

body {
  font-family: Inter;
  background-color: rgb(40, 45, 53);
}

.nav {
  display: flex;
  align-items: center;
  background-color: rgb(33, 34, 42);
  padding: 30px 25px;
  height: 50px;
}

.nav-image {
  height: 40px;
  margin-right: 7px;
}

.nav-logo-text {
  margin: 0;
  margin-right: auto;
  color: rgb(97, 218, 251);
  font-size: 22px;
  font-weight: 700;
}

.nav-title {
  margin: 0;
  color: rgb(222, 235, 248);
  font-weight: 600;
}

.main-body {
  padding-left: 30px;
  color: #FFFFFF;
  background-image: url("../src/Images/reactjs-icon\ 2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.main-title {
  margin-top: 35px;
  letter-spacing: -0.05em;
}

.main-list > li{
  margin-bottom: 10px;
  max-width: 400px;
}

.main-list > li::marker{
  color: rgb(97, 218, 251);
  font-size: 1.4rem;
}

